body{
    background-color: #1E2B32;
}
h1{
    color: white;
    margin-left: 50px;
}
h3{
    color: white;
    padding: 20px;
    font-weight: 200;
   
}
.card{
    text-align: center;
    background-color: #273353;
    width: 350px;
    height: 150px;
  
    border-radius: 20px;
}
.audioss{
    margin-left:0;
}

.For_Items{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
    gap: 40px;
}

button{
  background-color:  #2A3942; 
  border: none;
  border-radius: 15px;
  margin: auto;
  margin-right: 100px;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header{
    display: flex;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}